body {
    background-image: url(/img/wallpaper.jpg);
    background-repeat: repeat;

}

#navbar{
    background-color: #004683 !important;
}
h1.grostitre{
    font-family: "Arial Black";
}


.imgprofil{
    width: 200px;
    height: 250px;
    -webkit-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
}
.danger{
    color: red;
}

.vignette{
    width: 50px;
    height: 50px;
    display: inline-flex;
    -webkit-box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
    box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
}
.vignette:hover{
    -webkit-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
}

.photos{
    width: 200px;
    height: 200px;
    -webkit-box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
    box-shadow: 2px -5px 40px -9px rgba(0,0,0,0.75);
}

.photos:hover{
    -webkit-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 24px -9px rgba(0,0,0,0.75);
}