{% extends 'base.html.twig' %}

{% block title %}Fil d'actualité{% endblock %}

{% block body %}
<h2>Fil d'actualité</h2>
<div class="row justify-content-between">


    {# COLONNE DE GAUCHE #}

    <div class="col-md-3 mt-5">

        Rajouter du contenu dans cette colonne

    </div>


    {# COLONNE DE DROITE #}

    {# LISTE DES PUBLICATIONS #}

    <div class="col-md-9 mt-5">
        <div class="actu">

            <a href="">
                <div class="vignette"></div>
                Prénom Nom
            </a>
            <br>
            <small>28/12/1990 à 12:34</small>
            <div class="mt-2 publication">
                <p>
                    Saepissime igitur mihi de amicitia cogitanti maxime illud considerandum videri solet, utrum propter imbecillitatem atque inopiam desiderata sit amicitia, ut dandis recipiendisque meritis quod quisque minus per se ipse posset, id acciperet ab alio vicissimque redderet, an esset hoc quidem proprium amicitiae, sed antiquior et pulchrior et magis a natura ipsa profecta alia causa.
                </p>

                <div class="col-12 image pb-3 text-center">
                    <img src="https://i.ytimg.com/vi/B1SmlHmqTmM/hqdefault.jpg" class="img-fluid" width="250">
                </div>
            </div>


            {# COMMENTAIRES #}

            <div class="commentaires col-12 border-top border-dark pt-2 pb-2">
                <small>Commenter :</small>
                <form action="">
                    <input type="text">
                    <button class="btn btn-link">Publier</button>
                </form>
                <small>
                    <a href="">
                        <div class="vignette"></div>
                        Prénon Nom
                    </a>
                    <p class="">Contenu du commentaire</p>
                </small>
            </div>

            {# FIN DES COMMENTAIRES #}

        </div>
    </div>

    {# FIN DE LA LISTE DES PUBLICATIONS #}


</div>






{% endblock %}
