{% extends 'base.html.twig' %}

{% block title %}Fil d'actualité{% endblock %}

{% block body %}
<h2>Fil d'actualité</h2>
<div class="row justify-content-between">
    <div class="col-md-3">Lalala</div>
    <div class="col-md-9">
        <div class="actu">

            <a href="">
                <div class="vignette"></div>
                Prénon Nom
            </a>
            <br>
            <small>28/12/1990 à 12:34</small>
            <div class="mt-2 publication">
                Saepissime igitur mihi de amicitia cogitanti maxime illud considerandum videri solet, utrum propter imbecillitatem atque inopiam desiderata sit amicitia, ut dandis recipiendisque meritis quod quisque minus per se ipse posset, id acciperet ab alio vicissimque redderet, an esset hoc quidem proprium amicitiae, sed antiquior et pulchrior et magis a natura ipsa profecta alia causa.
            </div>
            <div class="commentaire">
                <small>Commenter :</small>
                <form action="">
                    <input type="text">
                    <button class="btn btn-link">Publier</button>
                </form>
                <small>
                    <a href="">
                        <div class="vignette"></div>
                        Prénon Nom
                    </a>
                </small>

            </div>

        </div>

    </div>
</div>






{% endblock %}
