{% extends 'base.html.twig' %}

{% block body %}

<<<<<<< HEAD
=======
    <h2 class="mt-3">Album photo</h2>

    <form method="post" class="mt-5">
        <div class="form-group row">
            <label for="photo">Publier une photo</label>
            <input type="file" name="photo" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Publier</button>
    </form>

{# Les images viendront s'afficher ici les unes à la suite des autres. De la plus récente à la plus ancienne #}

    <div class="row justify-content-start mt-5">

        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>
        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>
        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>
        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>
        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>
        <div class="photos m-2"><img src="..." alt="..." class="img-thumbnail"></div>

    </div>

>>>>>>> 7c389d7b54836650168c41dfcf7a8110e64b1b33
{% endblock %}
