{% extends 'base.html.twig' %}

{% block title %}Projet Final{% endblock %}

{% block body %}

   {# {% if app.user is null %} #} {# Si l'utilisateur n'est pas connecté #}
<div class="row">
    <div class="card m-3 col-md-3">
        <div class="card-body">
            <h5 class="card-title">Connexion</h5>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
        </div>
    </div>

    <div class="card m-3 col-md-8">
        <div class="card-body">
            <h5 class="card-title">Inscription</h5>
            <form>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" placeholder="Prénom">
                    </div>
                    <div class="form-group col-6">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" placeholder="Nom">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas vos données avec des tiers</small>
                    </div>
                    <div class="form-group col-6">
                        <label for="exampleInputPassword1">Mot de passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Inscription</button>
            </form>
        </div>
    </div>
</div>

        {# {% else %} #}


        <div class="mt-4">
            <div class="card">
                <h5 class="card-header">T</h5>
                <div class="card-body">
                    <h5 class="card-title">Application</h5>
                    <p class="card-text">Mystère</p>
                    <a href="#" class="btn btn-primary">Par ici</a>
                </div>
            </div>
        </div>

   {# {% endif %} #}

{% endblock %}
